################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/jcMPP.Android/bin/Debug
/jcMPP.Android/obj/Debug
/jcMPP.PCL/bin/Debug
/jcMPP.UWP/obj/x86/Debug
/jcMPP.PCL/obj/Debug
/jcMPP.UWP/bin/x86/Debug
/jcMPP.PCL.DataLayer/obj/Debug
/jcMPP.UWP/bin
/jcMPP.WebAPI/bin
/jcMPP.WebAPI/obj/Debug
/jcMPP.WebAPI.DataLayer/obj/Debug
/jcMPP.WebAPI.DataLayer/bin/Debug
/jcMPP.PCL.DataLayer/bin/Debug
/jcMPP.WebAPI.DataLayer/bin
/jcMPP.Admin.Console/bin/Debug
/jcMPP.Admin.Console/obj
/jcMPP.PCL/bin/Release
/jcMPP.PCL/obj/Release
